.error {
  color: red;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.center {
  align-content: center;
  display: block;
  margin: auto;
  text-align: center;
}

.center-Splash {
  align-content: center;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

.auto-margin {
  margin: auto;
}

.container {
	font-family: 'Open Sans Condensed', sans-serif;
}

.centered-Pending {

	padding: 70px;
}

.centered-Create {

  text-align: center;
  align-items: center;
  justify-content: center;
}

.centered-Login {
  padding: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.col-md-2 img {
  vertical-align: middle;
}

.image {
  vertical-align: middle;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropzone {
  align-items: center;
}

.centered-Prompt {
    display: flex;


  align-items: center;


  justify-content: center;

  min-height: 300px;
}

#alert-info {
  color: #75008A;
  background-color: #DD2BFC;
  border-color: #75008A;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative; /* Ensure absolute positioned child elements are relative to this */
}

/* Absolute positioned wrapper for the element you want to fix position */
.fixed-wrapper {
    width: 220px;
    position: absolute;
    top: 0;
    left: -240px; /* Move this out to the left of the site body, leaving a 20px gutter */
}

/* The element you want to fix the position of */
.fixed {
    width: 220px;
    position: fixed;
    /* Do not set top / left! */
}

.frame {
   height: 150px;      /* equals max image height */
   width: 150px;
   white-space: nowrap;

   text-align: center; margin: 1em 0;
}

.helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

img {
   vertical-align: middle;
/*   max-height: 150px;
   max-width: 150px;
*/}

.dropzoneIMG {
  max-height: 500px;
  max-width: 500px;
}

.question {
  padding-bottom: 10px;
}

.row {
  height: 75%;
}
.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.white-text {
  color: white;
}

.table-row [class^="col-"] {
  display: table-cell;
  float: none;
  vertical-align: middle;

}

.jumbotron{
  height: 100vh;
  background-color: #394264 !important;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #1f253d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

h2,
p {
  color: #FFFFFF !important;
}

.scnd-font-color {
  color: #9099b7;
}

.titlechart {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.horizontal-list li {
  float: left;
}

.block {
  margin: 25px 25px 0 0;
  background: #394264;
  border-radius: 5px;
  float: left;
  width: 100%;
  overflow: hidden;
}

.donut-chart-block {
  overflow: hidden;
}

.donut-chart-block .titlechart {
  padding: 10px 0;
}

.choice-percentages li {
  width: 25%;
  border-left: 1px solid #394264;
  text-align: center;
  background: #50597b;
}

.os {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 15px;
}

.os.choicea {
  border-top: 4px solid #e64c65;
}

.os.choiceb {
  border-top: 4px solid #11a8ab;
}

.os.choicec {
  border-top: 4px solid #fcb150;
}

.os.choiced {
  border-top: 4px solid #4fc4f6;
}

.choice-percentage {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 25px;
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%
}

p.center-title {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}

.center-title span.scnd-font-color {
  line-height: 0;
}

.slice {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}

.center-button {
  margin: 0 auto;
  text-align: center;
}

.answer {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}

.colorRed {
  color: #E64C65 !important
}

.colorGreen {
  color: #11A8AB !important
}

.colorBlue {
  color: #4FC4F6 !important
}

.colorOrange {
  color: #FCB150 !important
}
