.error {
  color: red;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.center {
  align-content: center;
  display: block;
  margin: auto;
  text-align: center;
}

.center-Splash {
  align-content: center;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

.auto-margin {
  margin: auto;
}

.container {
	font-family: 'Open Sans Condensed', sans-serif;
}

.centered-Pending {
	
	padding: 70px;
}

.centered-Create {

  text-align: center;
  align-items: center;
  justify-content: center;
}

.centered-Login {
  padding: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.col-md-2 img {
  vertical-align: middle;
}

.image {
  vertical-align: middle;
}

.dropzone {
  align-items: center;
}

.centered-Prompt {
    display: flex;


  align-items: center;


  justify-content: center;

  min-height: 300px;
}

#alert-info {
  color: #75008A;
  background-color: #DD2BFC;
  border-color: #75008A;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative; /* Ensure absolute positioned child elements are relative to this */
}

/* Absolute positioned wrapper for the element you want to fix position */
.fixed-wrapper {
    width: 220px;
    position: absolute;
    top: 0;
    left: -240px; /* Move this out to the left of the site body, leaving a 20px gutter */
}

/* The element you want to fix the position of */
.fixed {
    width: 220px;
    position: fixed;
    /* Do not set top / left! */
}

.frame {
   height: 150px;      /* equals max image height */
   width: 150px;
   white-space: nowrap;
   
   text-align: center; margin: 1em 0;
}

.helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

img {
   vertical-align: middle;
/*   max-height: 150px;
   max-width: 150px;
*/}

.dropzoneIMG {
  max-height: 500px;
  max-width: 500px;
}

.question {
  padding-bottom: 10px;
}

.row {
  height: 75%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.jumbotron{
    width: 80vh;
    /*justify-content: right;
    align-items: right;*/
}

.legend {
  text-align: right;
}



